.parent {
  width: 200px;
  height: 100px;
  border: 2px solid skyblue;
  margin: 30px 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.children {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  display: none;
}