.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.person {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 650px;
  background: #efefef;
  border: 2px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.person img {
  width: 64px;
  height: auto;
}

.person h1,
.person p {
  margin: 0;
}

.person .info {
  padding-left: 15px;
}
